form {
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: rgb(79, 88, 96);
  padding: 2px;
  text-align: center;
  margin: 20px 200px
}

a {
    color: rgba(255, 255, 255, 0.599);
}